<h1>Hello from Rails!</h1>
<p>
It is now <%= @display_name1 %>
<%= @sd %>


<!-- <p>
Say <a href="/say/goodbye">Goodbye</a>!
</p> -->


<p>

<%= link_to "Time to say Goodbyeerert!" , say_goodbye_path %>
</p>



 
<!-- "ecp"='expression'

#{ expression } -->



</p>
